<h1>Login</h1>
<div asp-validation-summary="All" class="ui error message"></div>

<form method="POST" class="ui form">
    <div class="field">
        <label>Username</label>
        <input type="text" name="username"/>
    </div>

    <div class="field">
        <label>Password</label>
        <input type="password" name="password"/>
    </div>
     <div class="field">
      <div class="ui toggle checkbox">
        <input type="checkbox" name="rememberMe" tabindex="0" class="hidden">
        <label>Keep loggedin</label>
      </div>
    </div>
    
     <button class="ui button" type="submit">Login</button>
</form>