@model WikiCore.Models.MiscModel

@{
  ViewData["Title"] = "Miscellaneous";
}
<h2>Tags</h2>
<h4>Add</h4>
<form method="post" asp-action="AddTag" asp-controller="Misc"> 
  <div class="ui labeled input">
  <div class="ui label">
    Name
  </div>
  <input type="text" id="Title" placeholder=".." asp-for="CategoryName">
  </div>
 <button type="submit" class="ui primary button">Add</button>
</form>
<h4>Remove</h4>
<form method="post" asp-action="DeleteTag" asp-controller="Misc"> 
  <div class="ui labeled input">
  <div class="ui label">
    Tag
  </div>
  <select asp-for="TagId"  asp-items="@Model.TagsSelect" class="ui dropdown"></select>
</div>
 <button type="submit" class="ui primary button">Remove</button>
</form>

<h4>Tags:</h4>
 @foreach (var t in Model.Tags) {   
       <a class="ui tag label">@t.Name </a>
 }
<h3>All pages:</h3>
 @foreach (var page in Model.Pages) {
     <p>      
        @Html.ActionLink(page.Title, "Index", "Home", new { id = page.PageId })
     </p>
 }