@model WikiCore.Models.MiscModel

@{
  ViewData["Title"] = "Miscellaneous";
}
<h2>Tags</h2>
<h4>Remove</h4>
<form method="post" asp-action="DeleteTag" asp-controller="Misc"> 
  <div class="ui labeled input">
  <div class="ui label">
    Tag
  </div>
  <select asp-for="TagId"  asp-items="@Model.TagsSelect" class="ui dropdown"></select>
</div>
 <button type="submit" class="ui primary button">Remove</button>
Tag will be deleted and removed from all pages.
</form>

<h2>All pages:</h2>
 @foreach (var page in Model.Pages) {
     <p>      
        @Html.RouteLink(page.Title, "Page", new { id = page.PageId })
     </p>
 }