@model WikiCore.Models.PageModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="ui container">
    <h2>@Html.Raw(Model.Title)</h2>
    <h6>@Html.Raw(Model.Tags)</h6>
    @Html.Raw(Model.pageContent)
    @Html.RouteLink("Edit", "Edit", new { id = Model.Id })
</div>


