@model WikiCore.Models.OverviewModel

@{
    ViewData["Title"] = "All pages";
}
<div class="ui container">
    <h2>@ViewData["Title"]</h2>
</div>
 @foreach (var page in Model.Pages) {
     <p>      
        @Html.ActionLink(page.Title, "Index", "Home", new { id = page.Id })
     </p>
 }