@model WikiCore.Models.EditModel
@{
    ViewData["Title"] = "Edit";
}

<div class="ui container">
<form method="post" asp-action="Update" asp-controller="Edit"> 
  <div class="ui labeled input">
  <div class="ui label">
    Titel
  </div>
  <input type="text" id="Title" placeholder="Title" asp-for="Title">
  <input type="hidden" id="Id" asp-for="Id">
</div>
  <br /> <br />
    <textarea asp-for="pageContent"></textarea>
  <button type="submit" class="ui primary button">Submit</button>
</form>

<script>
var simplemde = new SimpleMDE({ element: document.getElementById("pageContent") });
</script>
</div>