@model WikiCore.Models.TagOverviewModel

@{
    ViewData["Title"] = Model.Tag.Name;
}
<h2>Tag: @ViewData["Title"]</h2>

 @foreach (var page in Model.Pages) {
     <p>      
        @Html.RouteLink(page.Title, "Page", new { id = page.PageId })
     </p>
 }